body {
    background-color: #f0f0f0;
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

.container {
    display: flex;
    padding: 50px;
}

.leftMenu {
    flex: ;
    width: 220px;
    height: 750px;
    padding: 20px;
    background-color: #d6d9dd;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.leftMenu .search {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

h1 { 
font-size: 30px;
color: #555;
font-weight: 300;
}

.classification {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.type {
    cursor: pointer;
    font-size: 20px;
    font-weight: 300;
    padding: 5px;
}

.content {
    flex:4;
}

.pokemans {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.pokemon {
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 5px;
    text-align: center;
    margin-bottom: 0px;
}

img {
    width: 180px;
    height: 280px;
    object-fit: contain;
}

.name {
    font-weight: 800;
}

